#home {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}

#home #img {
  height: 100vh;
  background: url('./assets/pexels-photo-167676.png');
  background-size: unset;
  background-repeat: no-repeat;
  background-position: center;
}

#logon {
  display: grid;
  margin: auto 0;
}

#logon #ws-logo {
  position: relative;
  margin: 0 auto;
  top: 10%;
  width: 256px;
  height: 156px;
  background: url('./assets/ws.png') no-repeat center;
}

.grid-template-columns-1 {
  grid-template-columns: 1fr;


}

.email {
  border: none;
  border-bottom: 1px solid black;
  width: 200px;
  height: 30px;
  margin: 0 auto;

}

.senha {
  border: none;
  border-bottom: 1px solid black;
  padding: 0;
  width: 200px;
  height: 30px;
  margin: 0 auto;
}
