.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.login {
  display: flex;
  width: 100%;
}

#login-image{
  position: relative;
  top: -30px;
  left: -40px;
  width: 60%;
  height: 100vh;
  background: transparent url('./assets/pexels-photo-167676.png') 0% 0% no-repeat padding-box;

}

#ws-logo {
  position: relative;
  top: 220px;
  right: -250px;
  width: 232px;
  height: 156px;
  background: transparent url('./assets/ws.png') 0% 0% no-repeat padding-box;

}
